.about-us {
  display: grid;
  grid-template-columns: 23rem 1fr;
  grid-template-areas:
    'about-title about-img'
    'about-text1 about-img'
    'about-text2 about-img'
    'about-link about-img';
  gap: 2rem;
}

.about-us > h2 {
  grid-area: about-title;
}
.about-us > p:nth-of-type(1) {
  grid-area: about-text1;
}
.about-us > p:nth-of-type(2) {
  grid-area: about-text2;
}
.about-us > a {
  grid-area: about-link;
}

.about-image-container {
  grid-area: about-img;
}

.about-image-container > img {
  object-fit: cover;
  max-width: 100%;
}

@media screen and (max-width: 49rem){
  .about-us {
    grid-template-columns: 1fr;
    grid-template-areas:
    'about-title'
    'about-text1'
    'about-text2'
    'about-link'
    'about-img';
  }
}