.reservation-form {
  position: relative;
  padding: 0;
}

.booking {
  min-width: 10.5rem;
  max-width: 26rem;
  padding: 1rem;
  border: 2px solid var(--secondary3);
  border-radius: 1rem;
  margin: 1rem 0;
}

.booking label {
  font-weight: 700;
  display: flex;
  align-items: center;
}

.booking section {
  display: grid;
  padding: 1rem 0;
  grid-template-columns: 1fr;
}

.booking fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.booking fieldset > input:not(:last-child),
.booking fieldset > select:not(:last-child),
.booking fieldset > textarea:not(:last-child) {
  margin-bottom: 1rem;
}

.booking h4 {
  padding-bottom: 2rem;
}

.step1 > .input-group {
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.step1 > .input-group > *:last-child {
  margin-left: auto;
}

.step1 > .input-group:nth-child(even) {
  background-color: var(--secondary3);
  margin: 0 -1rem;
  padding: 1.5rem 1rem;
}

.step1 > .input-group > label > img {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
}

.step1 input, 
.step1 select, 
.step1 textarea,
.set-password input[type="text"],
.set-password input[type="password"] {
  font-size: 1rem;
  padding: 0.25rem;
  background-color: white;
  border: 1px solid var(--primary1);
  border-radius: 0.25rem;
}

#res-note {
  resize: none;
  width: 100%;
}

@media screen and (min-width: 20.0001rem) and (max-width: 24rem) {
  .step1 textarea {
    height: 6.5rem;
  }
}

@media screen and (max-width: 20rem) {
  .step1 textarea {
    height: 10rem;
  }
}

.step2 > .input-group {
  padding: 0.5rem 0;
  display: grid;
  gap: 0rem;
}

.step2 input {
  font-size: 1rem;
  padding: 0.25rem;
  background-color: white;
  border: none;
  border-bottom: 1px solid var(--primary1);
  width: 100%;
}

.step2 input:focus {
  outline: none;
  box-shadow: 0 2px 2px -1px var(--primary2);
}

.step2 .input-group label {
  visibility: hidden;
  margin: 0.25rem;
  display: block;
  font-size: 0.8rem;;
}

.step2 .input-group label:has(+ input:focus),
.step2 .input-group label:has(+ input:not(:placeholder-shown)) {
  visibility: visible;
}

.step2 .input-group label:has(+ input:focus) {
  font-weight: 700;
  color: var(--primary1);
}

.step2 .input-group label:has(+ input:not(:focus):not(:placeholder-shown)) {
  color: var(--secondary4);
  opacity: 0.5;
}

.step2 .input-group input:focus::placeholder {
  color: transparent;
}

.progress {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-areas:
    'back step .'
    'button button button';
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  max-width: 100%;
}

.res-back {
  grid-area: back;
  width: auto;
}

.reservation-step {
  grid-area: step;
  justify-self: center;
}

.res-proceed,
.res-confirm {
  grid-area: button;
  justify-self: center;
}

@media (max-width: 18.5rem) {
  .progress-step2 {
    grid-template-areas:
      'back . step'
      'button button button';
  }
}

.booking-page {
  padding: 0;
}

.confirmation-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  background-color: var(--secondary3);
  margin: 0rem -1rem;
  padding: 1rem 1rem;
}

.res-when {
  align-self: center;
}

.set-password {
  display: grid;
  gap: 0.5rem;
  padding: 1rem 0;
  width: 100%;
}

.pw-requirement {
  list-style-type:disc;
  margin-left: 1rem;
}

.set-password input[disabled] {
  background-color: var(--secondary3);
}

.register-account {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  padding: 1rem 0;
  width: 100%;
}

.create-account {
  justify-self: center;
}

.set-password input {
  width: 100%;
}

.set-password .input-group {
  padding: 0.5rem 0;
  display: grid;
  gap: 0.5rem;
}

.return-home-link {
  width: fit-content;
  display: inline-block;
}

.login-form-overlay {
  position: absolute;
  background: white;
  padding: 1rem;
  border: 1px solid var(--secondary2);
  border-radius: 1rem;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login-form-overlay .link-button {
  margin: 0 2rem;
  padding: 0.25rem;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9; 
}

.validation-required {
  background-color: var(--secondary2) !important;
  outline: 4px solid var(--secondary1) !important;
}

.step2 .validation-required {
  outline: none !important;
  box-shadow: 0 3px 0 0 var(--secondary1);
}

aside.booking {
  border: 4px solid var(--secondary1);
  background-color: var(--secondary2);
  overflow-y: auto;
  max-height: 40rem;
  padding: 1rem 0.5rem;
}

.pw-requirement.met {
  color: var(--primary1);
}

.pw-requirement.unmet {
  color: var(--secondary1);
}

.step1 input::placeholder,
.step1 textarea::placeholder {
  color: var(--secondary4);
  opacity: 0.5;
  font-style: italic;
}

.step1 input:focus::placeholder,
.step1 textarea:focus::placeholder {
  opacity: 0.2;
  font-style: italic;
}