header {
  padding: 1rem 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}


.head-nav  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.burger {
  display: none;
  border: none;
  background: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 3rem;
  min-width: 2rem;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 15rem;
  flex-shrink: 1;
}

.logo-link:hover,
.logo-link:active {
  background-color: transparent;
}

@media screen and (max-width: 35rem) {
  .burger {
    display: inline-flex;
  }
  .burger-icon {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  .logo {
    max-width: 100%;
  }
}