header {
  padding: 1rem 0;
}

.head-nav  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.burger {
  display: none;
  border: none;
  background: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 3rem;
  min-width: 2rem;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 15rem;
  flex-shrink: 1;
}

@media screen and (max-width: 35rem) {
  .burger {
    display: inline-flex;
  }
  .burger-icon {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  .logo {
    max-width: 100%;
  }
}