menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

menu a {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.nav-bar {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav-bar > li {
  padding-left: 0.25rem;
  white-space: nowrap;
}

.nav-bar a {
  font: 1em 'Karla', sans-serif;
  font-weight: 500;
  color: var(--primary1);
  transition: all 0.25s ease;
}
.nav-bar a:hover,
.nav-bar a:active {
  background-color: var(--primary2);
  text-decoration: underline;
}

@media screen and (min-width:calc(35rem + 1px)) and (max-width:55rem) {
  .nav-bar {
    width: 100%;
    justify-content: center;
    padding: 0.25em;
  }
  .nav-bar > li {
    padding: 0 0.125rem;
  }
}

@media screen and (max-width:35rem) {
  .nav-bar {
    width: 100%;
    display: none;
  }
  .nav-bar > li {
    padding: 0.5rem 0;
  }
}

.footer-nav {
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;
  margin-left: -0.25rem;
}
