.specials {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 5rem;
  grid-template-rows: subgrid;
  grid-row: auto / span 5;
  gap: 0.5rem;
  align-items: start;
  border-radius: 16px;
  background-color: var(--secondary2);
  scroll-snap-align: start;
  padding: 1rem;
}

.specials > .img-container {
  grid-column: span 2;
  margin: -1rem -1rem 0;
}

.specials > .img-container > img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.specials > h5 {
  grid-column: span 1;
  align-self: center;
}
.highlight-text  {
  grid-column: span 1;
  align-self: center;
  justify-self: end;
  color: var(--primary1);
}

.specials > p,
.add-to-order {
  grid-column: span 2;
}

.add-to-order {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  color: var(--primary1);
}

.add-to-order img {
  width: calc(1.5rem - 4px);
  height: calc(1.5rem - 4px);
  border-radius: 50%;
  transition: all 0.5s ease;
}

.add-to-order a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background-color: var(--primary1);
  border-radius: 50%;
  transition: all 0.5s ease;
}

.add-to-order a:hover {
  background-color: var(--primary2);
}

.add-to-order a:hover img {
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(34%) 
    sepia(12%) 
    saturate(500%) 
    hue-rotate(90deg) 
    brightness(90%) 
    contrast(90%);
}