.specials {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 5rem;
  grid-template-rows: subgrid;
  grid-row: auto / span 5;
  gap: 0.5rem;
  align-items: start;
  border-radius: 16px;
  background-color: var(--secondary2);
  scroll-snap-align: start;
  padding: 1rem;
}

.specials > .img-container {
  grid-column: span 2;
  margin: -1rem -1rem 0;
}

.specials > .img-container > img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.specials > h5 {
  grid-column: span 1;
  align-self: center;
}
.highlight-text  {
  grid-column: span 1;
  align-self: center;
  justify-self: end;
  color: var(--primary1);
}

.specials > p,
.add-to-order {
  grid-column: span 2;
}

.add-to-order {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  color: var(--primary1);
}

.add-to-order img {
  width: 1.5rem;
  height: 1.5rem;
}

.add-to-order > a {
  border-radius: 50%;
  border:1px solid transparent;
  padding: 1px;
  display: grid;
  align-items: center;
  justify-content: center;
  place-items: center;
  background-color: white;
  filter: none;
  transition: filter 0.25s ease;
}

.add-to-order > a:hover {
  border-radius: 50%;
  background-color: var(--primary2);
  border: 1px solid var(--primary1);
  box-shadow: 
  0 0 2px 2px var(--primary2),
  0 0 2px 2px var(--primary2) inset;
}