.testimonials {
  background-color: var(--secondary3);
  row-gap: 2rem;
}

.testimonial-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    'testimonial0 testimonial1 testimonial2 testimonial3'
    'review review review review';
  width: 100%;
  padding: 0;
}

.testimonial-card-inactive {
  outline: 1px solid var(--secondary3);
}

.testimonial-card-active {
  border: 1px solid var(--secondary3);
  border-bottom: none;
}

.user-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.testimonial-card-inactive > .user-card {
  opacity: 0.25;
}

.user-card > h5 {
  text-align: center;
}

.user-card > img {
  width: 90%;
  border-radius: 50%;
}

.review {
  background-color: white;
  border: 1px solid var(--secondary3);
  border-top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial0 {
  grid-area: testimonial0;
}
.testimonial1 {
  grid-area: testimonial1;
}
.testimonial2 {
  grid-area: testimonial2;
}
.testimonial3 {
  grid-area: testimonial3;
}

.review0 {
  grid-area: review;
}
.review1,
.review2,
.review3 {
  grid-area: review;
  display: none;
}

@media screen and (max-width: 35rem) {
  .testimonial-list {
    grid-template-columns: minmax(10rem, 1fr);
    grid-template-areas: 
      'testimonial0'
      'review0'
      'testimonial1'
      'review1'
      'testimonial2'
      'review2'
      'testimonial3'
      'review3';
  }

  .review1,
  .review2,
  .review3 {
    display: none;
  }
  
  .review0 {
    grid-area: review0;
  }
  .review1 {
    grid-area: review1;
  }
  .review2 {
    grid-area: review2;
  }
  .review3 {
    grid-area: review3;
  }

  .user-card > h5 {
    text-align: left;
  }

  .testimonial-card-active > .user-card > img {
    max-width: 12.5rem;
  }

  .testimonial-card-inactive > .user-card {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  .testimonial-card-inactive > .user-card > img {
    width: 20%;
    border-radius: 0;
  }
}