:root {
  --primary1: #495e57;
  --primary2: #f4ce14;
  --secondary1: #ee9972;
  --secondary2: #fbdabb;
  --secondary3: #edefee;
  --secondary4: #333333;
}

*:focus {
  outline: 1px dotted var(--primary1);
  box-shadow: 
    0 0 2px 2px var(--primary2),
    0 0 2px 2px var(--primary2) inset;
}
button:hover,
.action-button:hover {
  border: 1px solid var(--primary1);
  box-shadow: 
    0 0 2px 2px var(--primary2),
    0 0 2px 2px var(--primary2) inset;
}
button:disabled:hover,
.action-button:disabled:hover {
  border: 1px solid var(--secondary1);
  box-shadow: none;
}

*::placeholder {
  color: var(--secondary4);
  opacity: 0.5;
}

main:focus {
  outline: none;
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

h1,
.display-title { 
  font-size: 4rem;
  font-weight: 500;
  font-family: 'Markazi Text', serif;
  color: var(--primary2);
}
h2,
.subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Markazi Text', serif;
}
h3,
.section-title {
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
}
h4,
.section-category {
  font-size: 1rem;
  font-weight: 800;
  font-family: 'Karla', sans-serif;
}
h5,
.card-title {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Karla', sans-serif;
  max-width: 55ch;
  margin: 0;
}
.lead-text {
  font-size: 1.125rem;
  font-weight: 500;
}
.highlight,
.action-button {
  font-size: 1rem;
  font-weight: 500;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  color: var(--primary1);
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin: -0.25rem;
  transition: all 0.25s ease;
}
a:hover,
a:active {
  background-color: var(--primary2);
}

.link-button {
  background: none;
  border: none;
  color: var(--primary1);
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  margin: 0;
  font: inherit;
  transition: all 0.25s ease;
  text-decoration: underline;
}

.link-button:hover,
.link-button:active {
  background-color: var(--primary2);
  border: none;
  box-shadow: none;
}

.content-grid, 
.full-width {
  display: grid;
  width: 100%;
  grid-template-columns:
    [full-width-start] 1fr 
    [breakout-start] minmax(1.25rem, 6rem) 
    [content-start] 
    repeat(10, minmax(1.25rem, 6rem)) 
    [content-end] 
    minmax(1.25rem, 6rem) [breakout-end] 
    1fr [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width),
.breakout > :not(.breakout) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
  display: grid;
  width: 100%;
  grid-template-columns:
    [breakout-start] minmax(1.25rem, 6rem) 
    [content-start] 
    repeat(10, minmax(1.25rem, 6rem)) 
    [content-end] 
    minmax(1.25rem, 6rem) [breakout-end];
}
.breakout > .breakout {
  grid-column: breakout;
}
.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

.action-button {
  max-width: 12.5rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.75rem;
  border: none;
  background-color: var(--primary2);
  text-transform: uppercase;
}
.action-button:disabled {
  background-color: var(--secondary2);
  cursor: default;
  opacity: 0.5;
}

.no-wrap {
  white-space: nowrap;
  display: inline-block;
}

.wrap {
  word-break: break-word;
  display: inline-block;
}

.bg-green {
  background-color: var(--primary1);
}

section,
article {
  padding: 4rem 0;
}
@media screen and (min-width: 56rem) {
  section {
    padding: 6rem 0;
  }
}
@media screen and (max-width: 35rem) {
  section {
    padding: 2rem 0;
  }
}

.space1 {
  padding: 1rem 0;
}

/* Target all children of main except those with the 'hero' class */
main > :not(.hero) {
  transition: opacity 0.4s ease-in-out;
}

/* When fading out */
main > :not(.hero).fade-out {
  opacity: 0;
}

/* When fading in */
main > :not(.hero).fade-in {
  opacity: 1;
}